<script src="/js/setup.js"></script>
<div id="setup" class="ui middle aligned center aligned grid">
  <div class="column setup">
    <h2 class="ui black header">
      <div class="content">
        What is the username of your LastFM Account?
      </div>
    </h2>
    <form class="ui large form">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input id="fmUser" type="text" name="text" placeholder="Last.FM username">
          </div>
        </div>
        <div class="ui fluid large black submit button">Track</div>
      </div>
    </form>

    <!-- <div class="ui message">
      New to us? <a href="#">Sign Up</a>
    </div> -->
  </div>
</div>
