<!-- Page Contents -->
<div class="ui inverted vertical masthead center aligned segment">
    <div class="ui text container">
      <h1 class="ui inverted header">
        Colorfy Me
      </h1>
      <h2>Change the colors of your Hue Lights based on the music your listening to</h2>
      <a href="/setup" class="inverted"><div class="ui huge primary button"> Get Started <i class="right arrow icon"></i></div></a>
    </div>

  </div>

  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">Tracks your music</h3>
          <p>Uses Last.fm to find out what song you’re currently listening too</p>
          <h3 class="ui header">Change Hue Lights</h3>
          <p>Takes the colors from the album cover of the current playing song and changes your Hue Lights automatically</p>
        </div>
        <div class="six wide right floated column">
          <img src="/imgs/sample.png" class="ui large bordered rounded image">
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <a href="/setup" class="inverted"><div class="ui huge primary button"> Get Started <i class="right arrow icon"></i></div></a>
        </div>
      </div>
    </div>
  </div>
