<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="/js/vibrant.js"></script>
    <script src="/js/colors.js"></script>
    <script src="/js/color-thief.min.js"></script>
    <script src="/js/main.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
