<!-- <img id="chance" src="/imgs/1.jpg"/>
<h1 class='v'>Vibrant</h1>
<h1 class='lv'>Light Vibrant</h1>
<h1 class='m'>Muted</h1>
<h1 class='lm'>Light Muted</h1>
<h1 class='0'>Palette 0</h1>
<h1 class='1'>Palette 1</h1>
<h1 class='2'>Palette 2</h1>
<h1 class='3'>Palette 3</h1> -->

<script src="/js/main.js"></script>

<div id="options-form" class="ui modal small">
  <i class="close icon"></i>
  <div class="header">
    Options
  </div>
  <div class="content">
      <div class="ui form">
          <h3 class="ui header">
              Hue Lights
          </h3>

          <div class="ui blue button">Connect Hue Lights</div>

            <div class="ui checkbox">
                <input type="checkbox" tabindex="0" class="hidden">
                <label>Lights 1</label>
            </div>

            <div class="ui checkbox">
                <input type="checkbox" tabindex="0" class="hidden">
                <label>Lights 1</label>
            </div>

          <h3 class="ui header">
              Account
          </h3>


          <div class="ui checkbox">
              <input type="checkbox" tabindex="0" class="hidden">
              <label>Checkbox</label>
          </div>

          <div class="ui red button">Delete Account</div>
      </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Cancel
    </div>
    <div class="ui positive right labeled icon button">
      Save
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>

<i id="optionsBtn" class="options icon big circular inverted"></i>
<div id="div1" class="ui container">
    <img id="image" src=""/>
    <h1 class='v'>Vibrant</h1>
    <h2 class='0'>Palette 0</h2>
    <!-- <h3 class="dom">Dominant</h3> -->
</div>

<!-- <div id="div2">
<img id="img2" src=""/>
<h1 class='v'>Vibrant</h1>
<h2 class='1'>Palette 1</h2>
<h3 class="dom">Dominant</h3>
</div> -->
