<!-- <img id="chance" src="/imgs/1.jpg"/>
<h1 class='v'>Vibrant</h1>
<h1 class='lv'>Light Vibrant</h1>
<h1 class='m'>Muted</h1>
<h1 class='lm'>Light Muted</h1>
<h1 class='0'>Palette 0</h1>
<h1 class='1'>Palette 1</h1>
<h1 class='2'>Palette 2</h1>
<h1 class='3'>Palette 3</h1> -->

<div id="react-app"></div>
<script src="/js/react/app.js"></script>
<!-- <h3 className="dom">Dominant</h3> -->

<!-- <div id="div2">
<img id="img2" src=""/>
<h1 class='v'>Vibrant</h1>
<h2 class='1'>Palette 1</h2>
<h3 class="dom">Dominant</h3>
</div> -->
